@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
   
    --cor-de-fundo:background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 51%, rgba(2,9,45,1) 53%, rgba(0,212,255,1) 100%);
    --vermelho: #8b8181;
    --branco:#FFFFFF;
    --botao-ativo: #f60000;
    --botao-inativo: rgb(58,55,94,0.5);
    --texto-fundo: rgb(255, 0, 0);

    
}

body{
    background-color: var(--cor-de-fundo);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;


}

.cabecalho-principal{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    max-width: 1200%;
    width: 100%;
    margin: 0 auto;
}

.cabecalho-principal span{
    color:var(--vermelho)
}

.botao{
    font-size: 18px;
    background-color: var(--botao-inativo);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 4px solid var(--botao-ativo);
    border-right: 4px solid var(--botao-ativo);
    border-top: none;
}
.principal-botoes {
    display: block;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

@media screen and (min-width: 768px) {
    .principal-botoes {
        display: flex;
    }
    
    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

 .botao:last-child {
            border-radius: 0 40px 0 0;
        }
    }
    .ativo{
        background-color: var(--botao-ativo);
        border-bottom: 4px solid var(--verde);
        }
    

